.contact-card{
	margin:10px;
	padding:10px;
	border-style:ridge;
	border-color:#ddd;
	border-width: 2px;
}
.contact-label{
	font-weight:bold;
	font-style:italic;
}

div.index { 
	-webkit-columns: 16em;
	-moz-column-width: 16em;
	columns: 16em }

div.index ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none }
