.picture img {
	display: block;
	margin: 10px auto;
}

.picture a,.picture input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.subtotalResult {
	font-weight: bolder;
	font-size: 16px;
	border: 1.5px rgba(128, 128, 128, 0.18) solid;	
}
.totalResult {
	font-weight: bolder;
	font-size: 18px;
	border: 1.5px rgba(128, 128, 128, 0.18) solid;	
}
table.extras {
	width: 100%;
}
table.extras tr td:nth-child(1) {
	width: 85%;
}
table.extras tr td:nth-child(2) {
	width: 15%;
}
.text-right {
	text-align: right !important;
}
.finalTotal{
	background-color: #ccc;
	border: 2px solid;	
}